In [ ]:
print('hello world!')

In [ ]:
# (when the cell is selcted, press "M" to change it to a markdown cell)
## (when you have finished writing the markdown, press "run")
This illustrates the _print_ statement of **Python.**
You've written your first program!

In [ ]:
#python runs in kernel, the following is an example of an infinite loop that will keep running. 
#We need to interrupt the kernel to make it stop, select "Kernel" from the menu bar, and click "interrupt" or "restart"
x = 1
while x==1:
    y = input('what''s your name?')
    print('Hi', y, ', Welcome to INSY5336!')

In [ ]:
#integer, string, float, 3 types of value
print(4)
print(5.4)
print("They are all numbers.")

In [ ]:
#use type() to find out the type of value
type(3.5)

In [ ]:
type('I am not sure')

In [ ]:
#anything between quotation marks become string, even though they appear something else
#note the red color coding of strings, in contrast to the green color coding of numerics
type('4 + 5')

In [ ]:
#assigning values to variables
x = 12.2
y = 14
print(x)
print(y)

In [ ]:
#assigning a new value to the same variable will override the original value
x = 100
print('x = ',x)
print('y = ',y)

In [ ]:
#these variables names are not allowed, running them will give you an error
5336_INSY = 'awesome'
@INSY5336 = 'awesome'
INSY.5336 = 'awesome'

#note that python will stop executing the cell at the first error it encounters
#so even though the next variable name is ok, it will not run
INSY_5336 = 'maybe need more awesomeness'

In [ ]:
#python does not care what you name your variables, the following code all perform the same task
x1q3z9ocd = 35.0 
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ocd * x1q3z9afd
print(x1q3p9afd)

a = 35.0 
b = 12.50 
c = a * b 
print(c)

hours = 35.0 
rate = 12.50 
pay = hours * rate 
print(pay)

In [ ]:
#assigning a new value of the variable through expression will also override the original value
x = 0.6
print(x)
x = 3.9 *  x  * ( 1  -  x )
print('new x value = ', x)

In [ ]:
#special operator for quotient and remainder
quotient = 7 // 3
print('quotient = ',quotient)

remainder = 7 % 3
print(remainder)

In [ ]:
#pay special attention to the order of operations when writing long expressions
x = 1 + 2 ** 3 / 4 * 5
print(x)

#even though you know the order of operation, it doesn't hurt to add some parentheses to help others understand
x = 1 + (((2 ** 3) / 4) * 5)
print(x)

#or even better, break it down to several different chunks, you need a few more variable names to avoid confusion
x1 = 2 ** 3
x2 = x1/4
x3 = x2*5
x4 = 1 + x3
print(x4)

In [ ]:
# "+" can be used to add numeric values or concatenate strings
x1 = 1
x2 = 4
print(x1 + x2)

y1 = 'hello '
y2 = 'there'
y3 = 'hello ' + 'there'
print(y1 + y2)
print(y3)

In [ ]:
# "+" cannot be used to add numeric value and strings
first = 'Test '
second = 3
print(first + second)

In [ ]:
# However, everything between " " automatically becomes string
first = 'Test '
second = '3'
print(first + second)

third = 'words '
fourth = '4 + 5'
print(third + fourth)

In [ ]:
#conversion commands
int() #changes into integer
float() #changes into float
str() #changes into string

In [ ]:
#rules of conversion
#1, everything can be converted into string
x1 = 4
x2 = 4.879
x3 = str(x1)
print(x3)
type(x3)
x4 = str(x2)
print(x4)
type(x4)

In [ ]:
#you can no longer multiply x3 and x4 now because they are strings, even though they appear to be numericals
print(x3*x4)

In [ ]:
# rule 2, all intergers can be converted into float
x1 = 52
x2 = float(x1)
print(x2)
type(x2)

In [ ]:
# rule 3, All floats can be converted to integer, but will lose the decimal values (truncated)
x = 4.8
y = int(x)
print(y)

In [ ]:
# rule 4, Strings that are purely made up of integers can be converted to integer and float
x1 = '128'
x2 = int(x1)
print(x2)
x3 = float(x1)
print(x3)

In [ ]:
# rule 5, Strings that have decimal values can only be converted into float
x1 = '128.94'
x2 = float(x1)
print(x2)

In [ ]:
# rule 5.1, If you attempt to convert a string with decimal values into integer, it will not truncate, it will give you an error
x1 = '128.94'
x2 = int(x1)
print(x2)

In [ ]:
# input function is the simplest interactive program that we can write, it asks for data input from the user
name = input('Who are you? ')
print('Welcome to the awesome INSY5336!', name,'!')

In [ ]:
#BY default, user input is read as string, we need to convert that into numebers if we want to do some calculation
wage = input('Please enter your hourly wage:')
hour = input('Please enter the hours you have worked today')
type(wage)
type(hour)

In [ ]:
#we need to convert that into numebers if we want to do some calculation
x1 = float(wage)
x2 = float(hour)
print('Your salary today will be', x1*x2, 'dollars')

In [ ]:
#BY default, user input is read as string, we need to convert that into numebers if we want to do some calculation
wage = input('Please enter your hourly wage:')
hour = input('Please enter the hours you have worked today')

#we need to convert that into numebers if we want to do some calculation
x1 = float(wage)
x2 = float(hour)
print('Your salary today will be', x1*x2, 'dollars')